apiVersion: v1
kind: Service
metadata:
  name: ui-service
  namespace: analyst-agent
spec:
  selector:
    app: ui
  ports:
    - protocol: TCP
      port: 8501
      targetPort: 8501
  type: NodePort